{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
<div
        class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol>
            <a href="">
                <i class="fa fa-dashboard"></i>
                Home</a>
        </ol>
    </section>

                <div class="box-body">
                    <h1>Reservation index</h1>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Client Id</th>
                            <th>Facture Id</th>
                            <th>Arrival Date</th>
                            <th>Departure Date</th>
                            <th>Number Of Nights</th>
                            <th>Total Price</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.id }}</td>
                                <td>{{ reservation.client_id }}</td>
                                <td>{ reservation.facture_id}</td>
                                <td>{{ reservation.arrival_date }}</td>
                                <td>{{ reservation.departure_date }}</td>
                                <td>{{ reservation.nb_nights }}</td>
                                <td>{{ reservation.total_price }}</td>
                                <td>{{ reservation.status }}</td>

                                <td>
                                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('app_reservation_new') }}">Create new</a>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

{% endblock %}