{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
<div
        class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol>
            <a href="">
                <i class="fa fa-dashboard"></i>
                Home</a>
        </ol>
    </section>

                <div class="box-body">
                    <h1>Show Reservation</h1>

                    <h1>Reservation</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ reservation.id }}</td>
                        </tr>
                        <tr>
                            <th>Client Id</th>
                            <td>{{ reservation.client_id  }}</td>
                        </tr>
                        <tr>
                            <th>Facture Id</th>
                            <td>{{reservation.facture_id }}</td>
                        </tr>
                        <tr>
                            <th>Arrival Date</th>
                            <td>{{ reservation.arrival_date  }}</td>
                        </tr>
                        <tr>
                            <th>Departure Date</th>
                            <td>{{ reservation.departure_date }}</td>
                        </tr>
                        <tr>
                            <th>Number Of Nights</th>
                            <td>{{ reservation.nb_nights }}</td>
                        </tr>
                        <tr>
                            <th>Total Price</th>
                            <td>{{ reservation.total_price }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ reservation.status }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('app_reservation_index') }}">back to list</a>

                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

                    <form method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this client?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

{% endblock %}