{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
<div
        class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <ol>
            <a href="">
                <i class="fa fa-dashboard"></i>
                Home</a>
        </ol>
    </section>

                <div class="box-body">
                    <h1>Edit Room</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    <form method="post" action="{{ path('app_room_delete', {'id': room.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Room?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                    <a href="{{ path('app_room_index') }}">back to list</a>


                </div><!-- /.box-body -->

            </div><!-- /.box -->


{% endblock %}