{# templates/client/add-client.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add New Client{% endblock %}

{% block body %}
    <h1>Add New Client</h1>

    {{ form_start(form) }}
    <div>
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>
    <div>
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
    </div>
    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div>
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
    </div>
    <div>
        {{ form_label(form.reservation) }}
        {{ form_widget(form.reservation) }}
    </div>
    <div>
        {{ form_widget(form.payer) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
