{# templates/pdf/client_pdf_template.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Client Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333333;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border-bottom: 1px solid #dddddd;
        }
    </style>
</head>
<body>
<h1>Client Information</h1>
<table>
    <tr>
        <th>Firstname</th>
        <td>{{ client.firstname }}</td>
    </tr>
    <tr>
        <th>Lastname</th>
        <td>{{ client.lastname }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ client.email }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ client.phone }}</td>
    </tr>
    <tr>
        <th>Reservation number</th>
        <td>{{ reservation.id }}</td>
    </tr>

    <tr>
        <th>Total Price</th>
        <td>{{ reservation.totalPrice }}</td>
    </tr>



</table>
</body>
</html>
